<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>User tables</h2>

<table>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Family</th>
        <th scope="col">Email</th>
        <th scope="col">Operations</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.email}"/>
    </tr>
    </tbody>
</table>
<br>

<input type="button" value="Add"
       onclick="window.location.href = 'addNewUser'"/>

</form>
</body>
</html>